.login__input {
    border: 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin-left: 36px;
    margin-top: 40px;
    padding-bottom: 13px;
    width: 358px;
    padding: 0;
    background-color: #000;
    outline-style: none;
    color: rgba(204, 204, 204, 1)
}
