.section {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1280px;
  }

  @media screen and (max-width: 1027px){
    .section {  
      padding-left: 10px;
      padding-right: 10px;   
     }
  }

 
  @media screen and (max-width: 500px){
    .section {  
        padding-left: 19px;
        padding-right: 19px;   
       }
      }