.popup__reg-image-error {
    background-image: url(../../../images/reg-pic-error.png);
    margin-top: 60px;
    margin-left: 155px;
    margin-left: 155px;
    margin-bottom: 32px;
    width: 120px;
    height: 120px;
}